<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197157180991-cc1isqv12e2vgcs5sq7ur5gf8t8no8f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197157180991-cc1isqv12e2vgcs5sq7ur5gf8t8no8f5</string>
	<key>API_KEY</key>
	<string>AIzaSyB-tTLN-Q9xUzrwGRI12QAGnHA8wQTTV8o</string>
	<key>GCM_SENDER_ID</key>
	<string>197157180991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bhutanHub</string>
	<key>PROJECT_ID</key>
	<string>bhutanhub</string>
	<key>STORAGE_BUCKET</key>
	<string>bhutanhub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197157180991:ios:0a6c2fe837bf8d841a0a8a</string>
</dict>
</plist>